.img-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.img-flex .img-size {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 5px;
  padding: 5px;
}
.img-flex .img-size img {
  width: 100%;
  height: 100%;
}
.popup {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
