.globalText {
  color: blue;
}
.px {
  width: 100px;
  height: 100px;
  background-color: red;
}
.rem {
  width: 6.25rem;
  height: 6.25rem;
  background-color: yellow;
}
.vw {
  width: 50vw;
  height: 50vw;
  background-color: blue;
}
